*.cs linguist-language="C#"

*.csproj linguist-detectable=false
*.sln linguist-detectable=false
*.unity linguist-detectable=false
*.meta linguist-detectable=false

Library/** linguist-detectable=false
Logs/** linguist-detectable=false
Temp/** linguist-detectable=false
ProjectSettings/** linguist-detectable=false
UserSettings/** linguist-detectable=false
.vscode/** linguist-detectable=false
